<?xml version="1.0" encoding="UTF-8"?>
<plugin 
	id="adg" 
	name="Architecture Decision Graph Plugin" 
	version="1.0" 
	provider-name="SEAKLAB" 
	class="adg.plugin.ADG_Plugin">
	
    	<requires>
        	<api version="1.0"/>
    	</requires>

    	<runtime>
        	<library name="lib.jar"/>
        	<library name="neo4j-java-driver-4.1.1.jar"/>
            <library name="reactive-streams-1.0.3.jar"/>
    	</runtime>
</plugin>